html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}
body {
  overflow-x: hidden;
  font-size: .84rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
  background-color: #f5f6f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #526dee;
  background-color: transparent;
}

.layout-static {
  max-width: 95%;
  margin: 0 auto;
}
.layout-wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.layout-sidebar{
  width: 240px;
  position: fixed;
  transition: all .1s ease-out;
  top: 0;
  z-index: 1;	
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding-top: 30px;
  top: 70px;
  background: #fff;
  bottom: 0;
  padding: 90px 0 20px;
  padding-top: 90px;
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);  
}
.logo-box .logo {
  line-height: 70px;
}
.logo-light, .logo-dark{
  display: none;
}
/* menu */
.simplebar-wrapper{
  margin: 0;
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  display: flex;  
}
.simplebar-height-auto-observer-wrapper{
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}
.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  z-index: -1;
}
.simplebar-height-auto-observer, .simplebar-track {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}
.simplebar-mask {
  direction: inherit;
  overflow: hidden;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-mask, .simplebar-offset {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  -webkit-overflow-scrolling: touch;
  right: 0;
  bottom: 0;
}
.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  visibility: visible;
  overflow: hidden scroll;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
}
.simplebar-content{
  padding: 0
}

.simplebar-content::after, .simplebar-content::before {
  content: " ";
  display: table;
}
.user-box{
  display: none;
}
.user-box[data-sidebar-showuser="true"]{
  display: block;
}
.rounded-circle {
  border-radius: 50% !important;
}
.avatar-md {
  height: 3.5rem;
  width: 3.5rem;
}
/* dropdown */
.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-menu {
  top: 100%;
  left: 0;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .25rem 0;
  margin: .125rem 0 0;
  font-size: .84rem;
  color: #6c757d;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid #e7eef1;
  border-radius: .25rem;

  box-shadow: 0 0 8px 0 rgba(154,161,171,.3);
  -webkit-animation-name: DropDownSlide;
  animation-name: DropDownSlide;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin: 0;
  position: absolute;
  z-index: 1000;
}
.user-pro-dropdown {
  width: 90%;
  min-width: 1px;
  margin-left: 5%;
  margin-top: 10px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: .375rem 1.2rem;
  clear: both;
  font-weight: 400;
  color: #6c757d;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.text-reset {
  color: inherit !important;
}
/* simplebar */
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
  height: 100vh;
}
.simplebar-height-auto-observer, .simplebar-track {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}
.simplebar-track {
  z-index: 1;
  right: 0;
  bottom: 0;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
  visibility: hidden;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
  visibility: visible;
}
.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 5px;
  min-height: 10px;
  background-color: #a2adb7;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
  width: 0px;
  display: none;
  transform: translate3d(0px, 0px, 0px);  
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar {
  height: 80px;
  transform: translate3d(0px, 0px, 0px);
  display: block;
}
.simplebar-scrollbar::before {
  position: absolute;
  content: "";
  background: #a2adb7 !important;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity .2s linear;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 2px;
  bottom: 2px;
}
/* content */
.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 7rem 2rem 2rem 3.5rem;
  transition: margin-left .2s;
}
@media (min-width: 992px)
.layout-wrapper.layout-static .layout-main-container {
  margin-left: 200px;
}
.layout-main {
  flex: 1 1 auto;
}









.simplebar-track .simplebar-horizontal{
  visibility: hidden;
}
.simplebar-track .simplebar-vertical{
  visibility: visible;
}



.p-card .p-card-content {
  padding: 0 !important;
}
.p-card .p-card-content h5{

}