.header{
  width: 100%;
  inline-size: -webkit-fill-available;
  background-color: white;
  z-index: 1000;
}

.layout {
  z-index: 1;
  background-color: #f5f6f8;

}

h1{
  font-size: 25px;
  color: #6e768e;
}

.avatar{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid;
  border-color: #c2bec9;
  background-color: #ebebeb;
  min-height: 40px;
  padding: 10px;
}

.create-order{
  padding: 20px 50px;
}

.inptlt{
  margin: 5px 0;
}

.ranges{
  display: flex;
}

#rangeValue{
  margin-left: 10px;
}

.iptrage{
  padding: 0;
}

.p-button{
  cursor: pointer;
  color: #ffffff;
    background: #6366f1;
    border: 1px solid #6366f1;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}

.upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;
}

.upload-file__text{
  color: #fff;
}

.upload-file__label {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  border: 1px  #fff;
  padding: 9px 49px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #6366f1;
  color: #fff;
}

.upload-file__icon {
  width: 30px;
  height: auto;
  margin-right: 11px;
  fill: #fff;
}

.upload-file__label .upload-file__text,
.upload-file__label .upload-file__icon path {
  transition: .25s ease;
}

.upload-file__label:hover .upload-file__text {
  color: #fff;
}

.upload-file__label:hover .upload-file__icon path {
  fill: #fff;
}


input.p-button{
  background: #6366f1;
}

.inpun-colum{
  display: flex;
  margin-top: 50px;
}

.inpun-colum2{
  display: flex;
  justify-content: center;
}

.launch{
  justify-content: center;
  display: grid;
  text-align: center;
  margin-top: 20px;

}

.create-order{
  display: none;
}

.budjet{
  margin-top: 20px;
}

.btnserv{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btn-support{
  display: flex;
  margin-top: 20px;
}

.btn-send, .btn-cancellation{
  color: #ffffff;
    background: #22c55e;
    border: 1px solid #22c55e;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}

.btn-cancellation{
  background: #64748b;
  border: 1px solid #64748b;
  margin-left: 20px;
}

.suppots{
  padding: 30px;
}

.problem{
  width: 60%;
  height: 160px;
}

.left-colum{
  margin: 0 10px 0 0;
}

.right-colum{
  margin: 0 0 0 10px;
}

.date-interval{
  display: flex;
  margin-top: 10px;
}

.date1, .date2{
  margin-top: 10px;
}

.left-date{
  margin: 0 10px 0 0;
}

.right-date{
  margin: 0 0 0 10px;
}


.frends{
  margin: 20px;
  display: flex;
  border-radius: 15px;

      margin: 10px 5px;
      display: flex;
      padding: 10px;

      -webkit-box-shadow: 0px 0px 10px -3px rgb(34 60 80 / 20%);
      -moz-box-shadow: 0px 0px 10px -3px rgba(34, 60, 80, 0.2);
      box-shadow: 0px 0px 10px -3px rgb(34 60 80 / 20%);
  }
  

.name-frends{
  padding-left: 15px;
}

.only{
  padding-left: 15px;
}

.chat-casper{
  padding-left: 15px;
  padding-top: 5px;
}

.layout .header {
  box-shadow: 1px 1px 4px #9aa0b9;
  display: flex;
  align-items: center;
  padding: 20px;
  inline-size: -webkit-fill-available;
}
.layout .content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.layout .footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 20px;
}
.layout.rtl .header {
  box-shadow: -1px 1px 4px #9aa0b9;
}

.sidebar {
  color: #b3b8d4;
  overflow-x: hidden !important;
  position: relative;
  background-color: #fff;
  margin-top: 100px;
  margin-left: 20px;
  color: #6e768e;
  display: block;
  /* padding: 12px 20px; */
  font-size: 14px;
}
.sidebar .image-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 1;
  display: none;
}
.sidebar .image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.sidebar.has-bg-image .image-wrapper {
  display: block;
}
.sidebar .sidebar-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.sidebar .sidebar-layout .sidebar-header {
  height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(83, 93, 125, 0.3);
}
.sidebar .sidebar-layout .sidebar-header > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar .sidebar-layout .sidebar-content {
  flex-grow: 1;
  padding: 10px 0;
}
.sidebar .sidebar-layout .sidebar-footer {
  height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(83, 93, 125, 0.3);
  padding: 0 20px;
}
.sidebar .sidebar-layout .sidebar-footer > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



@keyframes swing {
  0%, 30%, 50%, 70%, 100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
}
.layout .sidebar .menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.layout .sidebar .menu .menu-item a {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: #b3b8d4;
}
.layout .sidebar .menu .menu-item a .menu-icon {
  font-size: 1.2rem;
  width: 35px;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  border-radius: 2px;
  transition: color 0.3s;
}
.layout .sidebar .menu .menu-item a .menu-icon i {
  display: inline-block;
}

.layout.fixed-header.fixed-sidebar .header {
  width: calc(100% - 1px);
}

.layout.fixed-header .header ~ .layout, .layout.fixed-header .header ~ .content{
  margin-top: 100px;
  margin-left: 40px;
}

.layout .sidebar .menu .menu-item a .menu-title {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  transition: color 0.3s;
}
.layout .sidebar .menu .menu-item a .menu-prefix,
.layout .sidebar .menu .menu-item a .menu-suffix {
  display: inline-block;
  padding: 5px;
  opacity: 1;
  transition: opacity 0.3s;
}
.layout .sidebar .menu .menu-item a:hover .menu-title {
  color: #dee2ec;
}
.layout .sidebar .menu .menu-item a:hover .menu-icon {
  color: #dee2ec;
}
.layout .sidebar .menu .menu-item a:hover .menu-icon i {
  animation: swing ease-in-out 0.5s 1 alternate;
}
.layout .sidebar .menu .menu-item a:hover::after {
  border-color: #dee2ec !important;
}
.layout .sidebar .menu .menu-item.sub-menu {
  position: relative;
}
.layout .sidebar .menu .menu-item.sub-menu > a::after {
  content: "";
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
}

.abtn{
  margin-bottom: 10px;
}

.sidebar-header2{
  border-bottom: 1px solid #b3b8d4;
}

.layout .sidebar .menu .menu-item.sub-menu > a.abtn::after {
  content: "";
  margin-left: 60px;
  transition: transform 0.3s;
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  width: 5px;
  height: 5px;
  transform: rotate(45deg);
}



.layout .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  padding-left: 20px;
  display: none;
  overflow: hidden;
  z-index: 999;
}

.layout.fixed-sidebar .sidebar ~ .layout{
  align-items: flex-end;
  display: contents;
}

.layout .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}
.layout .sidebar .menu .menu-item.active > a .menu-title {
  color: #dee2ec;
}
.layout .sidebar .menu .menu-item.active > a::after {
  border-color: #dee2ec;
}
.layout .sidebar .menu .menu-item.active > a .menu-icon {
  color: #dee2ec;
}
.layout .sidebar .menu > ul > .sub-menu > .sub-menu-list {
  background-color: #0b1a2c;
}
.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon, .layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon, .layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: #0b1a2c;
}
.layout .sidebar .menu.icon-shape-circle .menu-item a .menu-icon {
  border-radius: 50%;
}
.layout .sidebar .menu.icon-shape-rounded .menu-item a .menu-icon {
  border-radius: 4px;
}
.layout .sidebar .menu.icon-shape-square .menu-item a .menu-icon {
  border-radius: 0;
}
.layout .sidebar:not(.collapsed) .menu > ul > .menu-item.sub-menu > .sub-menu-list {
  visibility: visible !important;
  position: static !important;
  transform: translate(0, 0) !important;
}
.layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-prefix,
.layout .sidebar.collapsed .menu > ul > .menu-item > a .menu-suffix {
  opacity: 0;
}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentcolor;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  border: none;
  transform: translateY(-50%);
}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > a:hover::after {
  background-color: #dee2ec;
}
.layout .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {
  transition: none !important;
  width: 200px;
  margin-left: 3px !important;
  border-radius: 4px;
  display: block !important;
}
.layout .sidebar.collapsed .menu > ul > .menu-item.active > a::after {
  background-color: #dee2ec;
}
.layout .sidebar.has-bg-image .menu.icon-shape-circle .menu-item a .menu-icon, .layout .sidebar.has-bg-image .menu.icon-shape-rounded .menu-item a .menu-icon, .layout .sidebar.has-bg-image .menu.icon-shape-square .menu-item a .menu-icon {
  background-color: rgba(11, 26, 44, 0.6);
}
.layout .sidebar.has-bg-image:not(.collapsed) .menu > ul > .sub-menu > .sub-menu-list {
  background-color: #fff;
}
.layout.rtl .sidebar .menu .menu-item a .menu-icon {
  margin-left: 10px;
  margin-right: 0;
}
.layout.rtl .sidebar .menu .menu-item.sub-menu > a::after {
  transform: rotate(135deg);
}
.layout.rtl .sidebar .menu .menu-item.sub-menu > .sub-menu-list {
  padding-left: 0;
  padding-right: 20px;
  
}
.layout.rtl .sidebar .menu .menu-item.sub-menu.open > a::after {
  transform: rotate(45deg);
}
.layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu a::after {
  right: auto;
  left: 10px;
}
.layout.rtl .sidebar.collapsed .menu > ul > .menu-item.sub-menu > .sub-menu-list {
  margin-left: -3px !important;
}

.sidebar, .break-point-lg, .has-bg-image{
  border-radius: 15px;
}

.content{
  border-radius: 15px;
}

* {
  box-sizing: border-box;
  color: #6e768e;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #212529;
}

a {
  text-decoration: none;
}

.HelloUser{
  display: flex;
  height: 140px;
  align-self: center;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);

}

.events{
  padding-top: 55px;
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.events-time{
  height: 350px;
  padding: 20px;
  /* border-bottom: 1px solid #b3b8d4; */
}

.placement{
  padding: 20px;
}

.btnanswer, .btncompleted{
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  font-weight: 600;
  transition-duration: .2s;
  color: #fff;
    background: #498205;
    border: 1px solid #498205;
    padding: .5rem 1rem;
    font-size: 1rem;
    transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s;
    border-radius: 20px;  
}

.btncompleted{
  background: #0078d4;
  border: 1px solid #0078d4;
}

.answer, .completed-by{
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 20px 30px 20px 15px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
border-radius: 15px;
margin-bottom: 20px;
}

.advertisement{
  display: flex;
  margin-top: 40px;
  
}

.advertisement1{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 33.33333%;
  height: 100%;
  /* text-align: center; */
  /* align-self: center; */
  border: 1px solid #b3b8d4;
  margin: 5px;
}

/* form */
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .9rem + 2px);
    padding: .45rem .9rem;
    font-size: .84rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-select, .form-control {
    box-shadow: none;
}
.form-control-light {
    background-color: #f3f7f9 !important;
    border-color: #f3f7f9 !important;
}
.search-bar .form-control {
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 30px;
}
.form-control::placeholder {
    color: #adb5bd;
    opacity: 1;
}


/*bootstrap*/
a, a:hover {
    text-decoration: none;
}
a {
    color: #526dee;
    background-color: transparent;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
.rounded-circle {
    border-radius: 50% !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}
.w-75 {
    width: 75% !important;
}

.font-14 {
    font-size: 14px !important;
}
.text-muted {
    color: #98a6ad !important;
}
.position-relative {
    position: relative !important;
}
.font-12 {
    font-size: 12px !important;
}
.font-13, .font-14 {
    font-size: 13px !important;
}
.font-15 {
    font-size: 15px !important;
}
.font-20 {
    font-size: 20px !important;
}
.p-2 {
    padding: .75rem !important;
}
.mr-2, .mx-2 {
    margin-right: .75rem !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.mb-2, .my-2 {
    margin-bottom: .75rem !important;
}
.mb-3, .my-3 {
    margin-bottom: 1.5rem !important;
}
.mt-0, .my-0 {
    margin-top: 0 !important;
}
.mt-1, .my-1 {
    margin-top: .375rem !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-reset {
    color: inherit !important;
}
.font-weight-normal {
    font-weight: 400 !important;
}
.float-right {
    float: right !important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin: 10px 0;
    font-family: "Rubik",sans-serif;
    color: #6e768e;
	
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;	
}
.col-xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #e7eaed;
    border-radius: .25rem;
    margin-bottom: 24px;
    box-shadow: 0 .95rem 2rem rgba(56,65,74,.03);	
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
}
.media-body {
    flex: 1;
}
/* chat */
.page-title-box {
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0 -27px 30px;
    padding: 15px 27px;
    box-shadow: 0 1px 1px rgba(50,58,70,.1);
}
.page-title-box-alt {
    background-color: transparent;
    padding: 24px 27px;
    box-shadow: none;
    margin-bottom: 0;
}
.page-title-box .page-title {
    font-size: 1.1rem;
    margin: 0;
    color: #323a46;
}
.text-body {
    color: #6c757d !important;
}
.media {
    display: flex;
    align-items: flex-start;
}
.small, small {
    font-size: .75rem;
    font-weight: 400;
}
.text-success {
    color: #18c984 !important;
}
.mdi-set, .mdi::before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.search-bar span {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    line-height: calc(1.5em + .9rem + 2px);
    left: 13px;
    top: 0;
    color: #98a6ad;
}
[data-simplebar] {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
	max-height: 100vh;
}
.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}
.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit !important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0;
}
.simplebar-height-auto-observer {
    box-sizing: inherit;
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    height: 1000%;
    width: 1000%;
    min-height: 1px;
    min-width: 1px;
    z-index: -1;
}
.simplebar-height-auto-observer, .simplebar-track {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}
.simplebar-mask {
    direction: inherit;
    overflow: hidden;
    width: auto !important;
    height: auto !important;
    z-index: 0;
}
.simplebar-offset {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    -webkit-overflow-scrolling: touch;
}
.simplebar-mask, .simplebar-offset {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    visibility: visible;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
    height: auto;
    overflow: hidden scroll;	
}
.simplebar-content{padding:0;}
.simplebar-content::after, .simplebar-content::before {
    content: " ";
    display: table;
}
.user-status {
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: #ced4da;
    border: 2.5px solid #fff;
    border-radius: 50%;
    bottom: 0;
    left: 30px;
}
.user-status.busy {
    background-color: #f4bf3e;
}
.simplebar-placeholder {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none;
  width: 230px;
  height: 720px;	
}
.simplebar-height-auto-observer, .simplebar-track {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}
.simplebar-track {
    z-index: 1;
    right: 0;
    bottom: 0;
}
.simplebar-track.simplebar-horizontal {
    left: 0;
    height: 11px;
}
.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 5px;
    min-height: 10px;
    background-color: #a2adb7;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    right: auto;
    left: 0;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}
.simplebar-scrollbar::before {
    position: absolute;
    content: "";
    background: #a2adb7 !important;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .2s linear;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
    height: 100%;
    left: 2px;
    right: 2px;
}
.simplebar-height-auto-observer, .simplebar-track {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}
.simplebar-track {
    z-index: 1;
    right: 0;
    bottom: 0;
}
.simplebar-track.simplebar-vertical {
    top: 0;
    width: 11px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 2px;
    bottom: 2px;
}

.sidebar .sidebar-layout .sidebar-header {
  /* height: 64px; */
  min-height: 64px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}


.text-order{
  padding: 20px 0;
}

.block-2{
  display: none;
}

.content-indicator, .content-indicator2{
  display: flex;
  justify-content: space-between;
}

.content-indicator2{
  padding-bottom: 5px;
}

.orders{
  border-radius: 15px;
  min-height: 80px;
  margin: 20px 0;
    padding: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.btn-delet, .btn-change {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

.btn-delet{
  margin-right: 10px;
}

.slider21, .upload-file__wrapper{
  margin-top: 15px;
}



.place, .throw-off{
  color: #ffffff;
    background: #22c55e;
    border: 1px solid #22c55e;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}


.tech-support{
  display: none;
}



/* icons */
.mdi-circle::before {
    content: "\F0765";
}
.mdi-cog-outline::before {
    content: "\F08BB";
}
.mdi-magnify::before {
    content: "\F0349";
}

.indicator,.indicator2,.indicator3{
  color: white;
  background-color: #cfc00f;
  padding: 5px;
  border-radius: 10px;
}

.indicator2{
  background-color: #3499fd;
}

.indicator3{
  background-color: #2ed12b;
}



.btn-delet, .btn-change, .author-sugg{
    padding: 7px;
    border-radius: 10px;
}



@media (max-width: 992px) {
  #btn-collapse {
    display: none;
  }
}







